// Fonts
$primary_font: Avenir, Helvetica, Arial, sans-serif;

// Sizes
$size: 60px;

// Colors
$white: #b9b9b9;
$black: #000;

$primary: #d60064;
$secondary: #42b983;
$tertiary: #c5cbb4;

$light_grey: #cfcfcf;
$grey: #555;
$dark-grey: #777;