// Fonts
$primary_font: Avenir, Helvetica, Arial, sans-serif;

// Sizes
$size: 60px;

// Colors
$white: #fff;
$black: #000;
$black_light: #2d2d2d;

$primary: #d60064;
$secondary: #42b983;
$tertiary: #c5cbb4;

$light_grey: #cfcfcf;
$grey: #555;
$dark_grey: #777;