@import "./_meyer-reset.scss";
@import "./_variables.scss";

// ****************************************
// BASE RESPONSIVE
// ****************************************

// Breakpoints
$s1: 300px;
$s2: 540px;
$s3: 800px;
$s4: 970px;
$s5: 1240px;
$s6: 2300px;

// Sizes
$sp1: #{$h2}rem;
$sp2: 540px;
$sp3: 800px;
$sp4: 970px;
$sp5: 1240px;
$sp6: 2300px;

/* Uso:
@include media( s + scaling factor ) {
  property: value;
}
*/
@mixin media($media) {
  @if $media == s0 {
    @media (max-width: $s1) {
      @content;
    }
  } @else if $media == s1 {
    @media (min-width: $s1) {
      @content;
    }
  } @else if $media == s2 {
    @media (min-width: $s2) {
      @content;
    }
  } @else if $media == s3 {
    @media (min-width: $s3) {
      @content;
    }
  } @else if $media == s4 {
    @media (min-width: $s4) {
      @content;
    }
  } @else if $media == s5 {
    @media (min-width: $s5) {
      @content;
    }
  } @else if $media == s6 {
    @media (min-width: $s6) {
      @content;
    }
  }
}

// ****************************************
// BASE
// ****************************************

html {
  font-size: $base_font_size;
}
body {
  // line-height: #{$h2}rem;
}

h1,
h2,
h3,
h4,
p,
dl,
li,
strong,
blockquote,
address {
  line-height: $base_line_height;
}
h1 {
  font-weight: bold;
  font-size: #{$h5}rem;
  margin: #{$h2}rem;
  @include media(s0) {
    font-size: #{$h2}rem;
  }
  @include media(s1) {
    font-size: #{$h3}rem;
  }
  @include media(s2) {
    font-size: #{$h4}rem;
  }
  @include media(s4) {
    font-size: #{$h5}rem;
  }
  @include media(s5) {
    font-size: #{$h6}rem;
  }
  @include media(s6) {
    font-size: #{$h7}rem;
  }
}
h2 {
  font-size: #{$h3}rem;
  padding-bottom: #{$h2}rem;
  @include media(s0) {
    font-size: #{$h2}rem;
  }
}
h3 {
  font-size: #{$h1}rem;
  padding-bottom: #{$h1}rem;
  font-weight: bold;
  @include media(s1) {
    font-size: #{$h2}rem;
    line-height: #{$h3}rem;
  }
  @include media(s2) {
    font-size: #{$h2}rem;
    font-weight: inherit;
    margin-left: #{$h4}rem;
  }
  @include media(s3) {
    font-size: #{$h3}rem;
    padding-bottom: #{$h3}rem;
  }
  @include media(s4) {
    margin-left: #{$h6}rem;
  }
}
h4 {
  font-size: #{$h1}rem;
  color: $secondary;
  font-style: italic;
  @include media(s1) {
    font-size: #{$h2}rem;
    line-height: #{$h3}rem;
  }
  @include media(s2) {
    margin-left: #{$h4}rem;
    padding-right: #{$h4}rem;
  }
  @include media(s3) {
    line-height: #{$h4}rem;
    font-size: #{$h3}rem;
    max-width: $s3;
  }
  @include media(s4) {
    max-width: $s4;
  }
}

h5,
h6 {
  font-size: #{$h1}rem;
  padding-bottom: #{$h1}rem;
  font-weight: bold;
  @include media(s4) {
    font-weight: inherit;
    font-size: #{$h3}rem;
  }
}
p {
  font-size: #{$h1}rem;
  padding-bottom: #{$h2}rem;
  @include media(s0) {
    font-size: #{$h0}rem;
  }
  @include media(s1) {
    font-size: #{$h1}rem;
    line-height: #{$h2}rem;
  }
  @include media(s2) {
    margin-left: #{$h4}rem;
    padding-right: #{$h4}rem;
  }
  @include media(s3) {
    font-size: #{$h2}rem;
    line-height: #{$h3}rem;
    max-width: $s4;
    margin-left: #{$h5}em;
  }
  @include media(s4) {
    margin-left: #{$h5}em;
  }
}

nav {
  letter-spacing: 1px;
  a {
    text-decoration: none;
  }
}
small {
  display: block;
  font-size: #{$h2}rem;
  padding-bottom: #{$h2}rem;
  line-height: #{$h1}rem;
  @include media(s0) {
    font-size: #{$h0}rem;
  }
  @include media(s1) {
    font-size: #{$h1}rem;
    line-height: #{$h2}rem;
  }
  @include media(s2) {
    margin-left: #{$h4}rem;
    padding-right: #{$h4}rem;
  }
  @include media(s5) {
    font-size: #{$h2}rem;
    line-height: #{$h2}rem;
  }
}
// Lists
ul {
  display: block;
  width: #{$h8}rem;
  padding-bottom: #{$h2}rem;
  padding-left: #{$h2}rem;  
  @include media(s1) {
    margin-left: #{$h6}em;
  }
}
li {
  font-size: #{$h1}rem;
  line-height: #{$h1}rem;
  @include media(s0) {
    font-size: #{$h0}rem;
  }
  @include media(s1) {
    line-height: #{$h2}rem;
    font-size: #{$h1}rem;
  }
  @include media(s2) {
    line-height: #{$h3}rem;
  }
  @include media(s3) {
    font-size: #{$h2}rem;
  }
  @include media(s4) {
  }
}
dl {
  @include media(s2) {
    font-size: #{$h0}rem;
    line-height: #{$h1}rem;
  }
  @include media(s3) {
    font-size: #{$h1}rem;
    line-height: #{$h2}rem;
  }
  @include media(s4) {
    font-size: #{$h2}rem;
    line-height: #{$h3}rem;
  }
  @include media(s5) {
  }
}
dt {
  font-weight: bold;
}

a {
  // text-decoration: none;
  color: $secondary;
}

strong {
  font-weight: bold;
}

blockquote {
  color: $dark_grey;
}

// ****************************************
// LAYOUT | MARGINS... SPACES
// ****************************************

article {
  padding: #{$h2}rem #{$h2}rem 0;
}
footer {
  background-color: #fff;
  padding: #{$h2}rem;
}



.golden-box {
  height: 100px;
  width: 100px * $phi;
  // background-color: red;
}
