@import "./_variables.scss";

// TODH Globals
body {
  background-color: $light_grey;
  margin: 0;
}

section {
  min-height: 50vh;
}

a {
  color: $secondary;
}

p,
h1,
h2,
h3,
h4,
h5 {
  text-align: left;
}

dl {
  // display: inherit;
}

dt {
  font-weight: bold;
  padding-top: $size / 3;
}

dd {
  margin-left: 0;
  &:last-child {
    padding-bottom: $size / 3;
  }
}

img {
  max-width: 100%;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
